* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: normal;
  font-size: 12px;
}

window#waybar {
  background: rgba(0, 0, 0, 1);
  /* background: #191724; */
}

tooltip {
  background: rgba(0, 0, 0, 0.5);
  color: #cdd6f4;
  border-radius: 7px;
  border-width: 0px;
}

#workspaces button {
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  /*color: #585b70;*/
  /* color: #908caa; */
  color: rgba(0, 0, 0, 0.6);
}

#workspaces button.active {
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  color: #191724;
  border-radius: 10px;
}

#workspaces button:hover {
  padding: 0px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /* color: #e0def4; */
  color: #191724;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#battery,
#cpu,
#custom-disk-root,
#custom-disk-home,
#memory,
#backlight,
#clock,
#tray,
#pulseaudio,
#custom-clock,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-keybindings,
#custom-notification,
#custom-cycle_wall,
#custom-spotify,
#workspaces,
#custom-gpu-usage,
#custom-gpu-ram,
#window,
#temperature,
#network {
  /* color: #e0def4; */
  color: #000000;
  background: rgba(25, 25, 125, 1);
  opacity: 1;
  /* margin: 3px 0px 3px 0px; */
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 6px;
  margin-bottom: 2px;
  border-radius: 2px;
}

#workspaces {
  /* background: rgba(235, 188, 186, 1); */
  background: #f6c177;
}

#cpu,
#memory,
#temperature,
#custom-gpu-ram,
#custom-gpu-usage {
  background: rgba(235, 188, 186, 1);
  /* background: #9ccfd8; */
}

#custom-spotify,
#window {
  background: #c4a7e7;
}

#battery,
#custom-disk-root,
#custom-disk-home {
  background: #8caaee;
}

#clock,
#tray,
#pulseaudio,
#custom-clock,
#network,
#custom-notification,
#backlight {
  /* background: #908caa; */
  background: #9ccfd8;
}

#custom-clock {
  background: #a6d189;
}

#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
  color: #ffffff;
  background: #000000;
  opacity: 1;
  margin: 2px 0px 2px 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
}

#window {
  margin-right: 10px;
  margin-left: 10px;
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-spotify {
  border-radius: 21px 21px 21px 21px;
}

#custom-r_end {
  border-radius: 0px 21px 21px 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-l_end {
  border-radius: 21px 0px 0px 21px;
  margin-left: 9px;
  padding-left: 3px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 9px;
  padding-left: 3px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 9px;
  padding-left: 3px;
}
